img{
    width: 200px;
    height: 100px;
    
}
body{
    background-image:radial-gradient(circle at center, #5fb8df, #354f5a);
}
header{
        text-align: center;
    }
h1{
        color: aqua;
        font-size: 70px;
        font-weight: 500px;
    }  
h3{
    color: aquamarine;
    font-size: larger;
    text-decoration: underline;
}
footer{
    text-align:right;
}
ul{
    list-style: none;
}
article{
    border: 2px black solid;
}
div{
    text-align: center;
} 
a{
    color: rgb(108, 197, 163);
}
a:link:hover{
    color: rgb(147, 180, 114);
}